{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2> Chance this image is NSFW: {{ image.nsfw_probability }}% </h2>

<img src="{{ image.img_source }}">
			       

<form action="{% url 'images:edit' image.id %}" method="post">
  {% csrf_token %}
 
  <label for="img_source">Image Source</label><br />
  <input type="text" name="img_source" id="img_source" value="{{ image.img_source }}" size="100"/>
  <br> 
  <label for="tags">Tags</label><br />
  <textarea name="tags" id="tags" value="{{ image.tags }}" rows="6" cols="100" wrap="hard">{{ image.tags }}</textarea>
  <br>
  <input type="submit" value="Save" />
</form>
